body{
    background-image:url('../img/comicss.jpeg');
    background-size: cover;
    height: 100vh;
    /* width: 100%; */
    /* border: 3px solid red; */
    overflow: hidden;
}

@keyframes animacionDegradado{

    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.25);
    }
    50%{
        transform: scale(1.5);
    }
    75%{
        transform: scale(1.25);
    }
    100%{
        transform: scale(1);
    }
}
.TITULO{

    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: white;
    text-shadow: 
    1.5px 1.5px 0px rgb(212, 18, 18),  
    -1.5px 1.5px 0px rgb(226, 176, 13), 
    1.5px -1.5px 0px rgb(244, 0, 0), 
    -1.5px -1.5px 0px rgb(235, 172, 0), 
    1.5px 0px 0px rgb(255, 0, 0),  
    -1.5px 0px 0px rgb(239, 199, 0), 
    0px 1.5px 0px rgb(255, 0, 0),  
    0px -1.5px 0px rgb(225, 185, 6);
    font-size: 180px;
    text-align: center;
    /* position: fixed; */
    left: 0px;
    top: 0px;
    font-family: fantasy;
    font-weight: 300;
    font-style: normal;
    animation: animacionDegradado 15s linear infinite;
    margin-top: 50px;
    

}

.search-box{
    display: flex;
    justify-content: center;
    /* border: 5px solid red; */
    z-index: 10;
    top: 60vh;
    margin-top: 10vh;
    /* border-radius: 200px; */
   
}
.search-box:hover {
    transform: scale(1.2);
}
.sh1{
    
    background: linear-gradient(to right,);
    /* -webkit-background-clip: text; */
    color: rgb(168, 168, 168);
    font-size: 20px;
    font-weight: bold;
    border: 7px solid ;    
    z-index: 10;
    width: 23vw;
    height: 6vh;
    border-radius: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-color: rgb(17, 0, 255);
    
}

.sh2{
    border: 5px solid rgb(0, 50, 144);
    background-color: rgb(184, 198, 255);
    z-index: 10;
}

.dialog{

    width: 50%;
    height: 40%;
    /* background-image: url('nexus.png'); */
    background-color: red;
    font-size: 25px;

    button {
        /* background-color: blue; */
        border: none;
        background-color: rgba(0, 0, 0, 0);
        width: 40px;
        height: 40px;
        position: absolute;
        right: 5px;
        top: 5px;
        background-image: url('../img/x_men.png');
        background-size: cover;
        
    }
    button:hover {
        transform: scale(1.2);
        /* transition: ; */
    }


    
}
 

  


